<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MD_ValidationWholesaleBuyers::view" title="Whosales Buyers" module="MD_ValidationWholesaleBuyers" sortOrder="50" resource="MD_ValidationWholesaleBuyers::view"/>
        <add id="MD_ValidationWholesaleBuyers::whosales_configuration"
             title="Configuration" module="MD_ValidationWholesaleBuyers" sortOrder="99" parent="MD_ValidationWholesaleBuyers::view" action="adminhtml/system_config/edit/section/whosales" resource="MD_ValidationWholesaleBuyers::view"/>
    </menu>
</config>
