<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="perspective" translate="label" sortOrder="10">
            <label>Perspective</label>
        </tab>
        <section id="whosales_buyers" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Whosales buyers config</label>
            <tab>perspective</tab>
            <resource>MD_ValidationWholesaleBuyers::whosales_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>

                <field id="large_wholesale" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>large wholesale: When ordering more drop</label>
                    <comment>This text will display on the frontend.</comment>
                </field>

                <field id="whosales" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wholesale: When ordering more than the number of units</label>
                    <comment>This text will display on the frontend.</comment>
                </field>

                <field id="avaliable_payment_method" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Whosale payment_methods</label>
                    <source_model>MD\ValidationWholesaleBuyers\Model\PaymentMethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="avaliable_shipping_method" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Whosale shipping method</label>
                    <source_model>MD\ValidationWholesaleBuyers\Model\ShippingMethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="large_avaliable_payment_method" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Large whosale payment_method</label>
                    <source_model>MD\ValidationWholesaleBuyers\Model\PaymentMethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

            </group>
        </section>
    </system>
</config>
