<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_Cource::hello" title="Currencies" module="Perspective_Cource" sortOrder="51" resource="Perspective_Cource::cource"/>
        <add id="Perspective_Cource::cource" title="Manage Posts"
             module="Perspective_Cource" sortOrder="10" action="perspective_cource/cource" resource="Perspective_Cource::cource"
             parent="Perspective_Cource::cource"/>
        <add id="Perspective_Cource::currencies_configuration" title="Configuration" module="Perspective_AdminHelloWorld" sortOrder="99" parent="Perspective_Cource::cource" action="adminhtml/system_config/edit/section/currencies" resource="Perspective_Cource::currencies_configuration"/>
    </menu>
</config>

