<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="troia_questionsaler" frontName="troia_questionsaler">
            <module name="Troia_QuestionSaler"/>
        </route>
    </router>
</config>
