<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Troia_PricePlugin::view" title="Price plugin" module="Troia_PricePlugin" sortOrder="50" resource="Troia_PricePlugin::view"/>
        <add id="Troia_PricePlugin::price_configuration"
             title="Configuration" module="Troia_PricePlugin" sortOrder="99" parent="Troia_PricePlugin::view" action="adminhtml/system_config/edit/section/price" resource="Troia_PricePlugin::view"/>
    </menu>
</config>

