<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="db_script" frontName="db_script">
            <module name="Perspective_DbScripts"/>
        </route>
    </router>
</config>
