<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <currencies>
            <general>
                <enable>1</enable>
                <enable_uah>1</enable_uah>
                <uah>37</uah>
                <enable_eur>1</enable_eur>
                <eur>0.8</eur>
                <enable_rub>1</enable_rub>
                <rub>9999</rub>
            </general>
        </currencies>
    </default>
</config>
