<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_TestGridUi::view" title="RH Blog" module="Perspective_TestGridUi"
             sortOrder="10" resource="Perspective_TestGridUi::view"/>
        <add id="Perspective_TestGridUi::grid" title="Manage Blog Records" module="Perspective_TestGridUi" sortOrder="9" parent="Perspective_TestGridUi::view" action="testgridui/grid/index"
             resource="Perspective_TestGridUi::view"/>
    </menu>
</config>
